@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Montserrat:wght@100;400;500;900&family=Ubuntu:wght@500&display=swap');

.body{
    display:flex;
    border: solid 2px black;
    height: 100vh;
   background: url("img/bg.jpg");
   background-size: 100vw 100vh;    /* //size should be given as width and height */

   background-repeat: no-repeat;
   align-items: center;         /* vertically centralizes board */
   justify-content: center;   /* horizontally centralizes board */

}


.board{
    height: 95vh;
    width: 45vw;
    background: linear-gradient(rgb(170,236,170), rgb(236,236,167));
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(25,1fr);
    grid-template-columns: repeat(25,1fr);
    row-gap: 3px;
    column-gap: 3px;

}


.food{
    background:linear-gradient(#f3c585,rgb(197, 130, 7));
    border-radius: 36px;
    border:2px solid black;
    
}

.head{
    background-color:#abe40a;
    border-radius: 36px;
    transform: scale(1.1);    
    
    border:2px solid black;
    
    
}

.tail{
    transform: scale(.85);
}

.snakeBody{
    background-color: #6eae00;
     border-radius: 36px;
    border:2px solid black;


}
#scorebox{
    font-size: 2rem;
    position:absolute;
    right: 70px;
    top:20px;
    font-family: 'Comic Neue', cursive;
}
#Highscorebox{
    font-size: 2rem;
    position:absolute;
    right: 70px;
    top:60px;
    font-family: 'Comic Neue', cursive;

}

